<app-navigation></app-navigation>


<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="log_taskmake.png" alt="" width="120">
  <h1 class="display-6 fw-bold">Organize, Prioritize, Achieve.</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">TaskMake is a simple yet powerful to-do list app designed to help you stay organized and
      productive. Whether you're managing daily tasks or setting reminders, TaskMake provides a
      clean and intuitive interface to prioritize and complete your tasks efficiently. </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3" (click)="login()">Get Started</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4" (click)="contact()">Contact Us</button>
    </div>
  </div>
</div>
